<h1>Foods Search</h1>

<p>Total Items: <%= @foods_count %></p>

<% @foods.each do |food| %>
  <div class="food">
    <h2>Description: <%= food.description %></h2>
    <p>GTIN/UPC: <%= food.upc %></p>
    <p>Brand Owner: <%= food.brand %></p>
    <p>Ingredients: <%= food.ingredients %></p>
  </div>
<% end %>
